<a href="{% url 'fichapersonaje:index' %}"><input type="submit" value = "Volver"></a>
<legend><h1>{{ personaje.nombre_personaje }}</h1></legend>
<fieldset>
    {% for caracteristica in personaje.caracteristica_set.all %}
        <p>{{ caracteristica.nombre_caracteristica }} : {{ caracteristica.valor }}</p>
        <br>
    {% endfor %}
</fieldset>
<fieldset>
    {% for secundaria in personaje.secundaria_set.all %}
        <p>{{ secundaria.nombre_secundaria }} : {{ secundaria.valor }}</p>
    {% endfor %}
</fieldset>
<a href = "{% url 'fichapersonaje:cambiardatos' personaje.id %}"><input type = "submit" value = "Cambiar datos"></a>
<a href = "{% url 'fichapersonaje:eliminarpersonaje' personaje.id %}"><input type = "submit" value = "Eliminar personaje"></a>